:root {
--font-family: 'PT Serif', serif;
--font-family: 'Sofia Sans Condensed', sans-serif;
--font-family: Arial, Helvetica, sans-serif;
--black:#000;
--lt grey: #B9B8B5;
--dark grey: #444343;
--background: #F7F6F0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    background-color: #F7F6F0;
  }

img { 
    width: 75%;   
   }

.component__image {
    width: 85%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #444343;
    font-size: x-small;
    border: 7px solid black;
    padding: 10px 20px 10px 20px;
}

h1 {
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: medium;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #444343;
    font-size: small;
}

h3 {
    font-family: 'PT Serif', serif;
    color: #444343;
    font-size: x-small;
}

h4 {
    display: inline-block;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: medium;
}

.component {
    border-bottom: 1px solid #444343;
    padding-bottom: 15px;
}

.component__code-body {
    font-family: 'PT Serif', serif;
    color: #444343;
    font-size: x-small;
}

.component__codedes {
    font-family: 'PT Serif', serif;
    color: #444343;
    font-size: x-small;
    font-weight: bolder;
}

.nav_left {
    display: inline-block;
    font-size: 8px;
    margin: 0px, 15px, 0px, 15px;
}

.nav_right {
    display: inline-block;
    font-size: 8px;
}

.listitem1 {
    padding: 0px 30px 0px 0px;
}

.listitem2 {
    padding: 0px 375px 0px 0px;
}

.navbar_left {
    display: flex;
    list-style-type: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #444343;
}

.navbar_right {
    display: flex;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #444343;
}

.subnav_right {
    list-style-type: none;
    font-family: 'PT Serif', serif;
    font-size: 8px;
    font-weight: lighter;
    color: #444343;
    padding: 5px 0px 5px 0px;
    line-height: 1.6;
}
.image_grid {
    align-items: bottom;
    display: flex;
    margin: auto;
}
.component_imgtall {
    max-width: 182px;
}

.component_imgwide {
    max-width: 230px;
}

