:root {
--font-family: 'PT Serif', serif;
--font-family: 'Sofia Sans Condensed', sans-serif;
--font-family: Arial, Helvetica, sans-serif;
--black:#000;
--lt grey: #B9B8B5;
--dark grey: #444343;
--background: #F7F6F0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    background-color: #F7F6F0;
  }

img { 
    width: 75%;   
   }

.component__image {
    width: 85%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #444343;
    font-size: x-small;
    border: 7px solid black;
    padding: 10px 20px 10px 20px;
}

h1 {
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: x-large;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #444343;
    font-size: small;
}

h3 {
    font-family: 'PT Serif', serif;
    color: #444343;
    font-size: x-small;
}

h4 {
    display: inline-block;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: medium;
}

.component {
    border-bottom: 1px solid #444343;
    padding-bottom: 15px;
}

.component__code-body {
    font-family: 'PT Serif', serif;
    color: #444343;
    font-size: x-small;
}

.component__codedes {
    font-family: 'PT Serif', serif;
    color: #444343;
    font-size: x-small;
    font-weight: bolder;
}

.component .main-nav {
    display: flex;
}

.main-nav {
    display: flex;
    font-size: 10px;
    margin: 0px, 15px, 0px, 15px;
}

.nav-main {
    display: flex;
    list-style-type: none;
}

.listitem1 {
    padding: 0px 30px 0px 0px;
}

.listitem2 {
    padding: 0px 375px 0px 0px;
}

.navbar_left {
    display: flex;
    list-style-type: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #444343;
}

/** .home-page 
.home-page__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
**/
.navbar_right {
    display: inline-block;
    list-style-type: none;
}
.nav-section {
    display: flex;
}
/** not sure if I need
.navbar_left .active {
    border-bottom: 1px solid #444343;
}

.navbar_right {
    display: flex;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #444343;
}

.subnav_right {
    list-style-type: none;
    font-family: 'PT Serif', serif;
    font-size: 10px;
    font-weight: lighter;
    color: #444343;
    padding: 5px 0px 5px 0px;
    line-height: 1.6;
}

.subnav_right {
    list-style-type: none;
}
**/

.image_grid {
    display: flex;
}

.component_imgtall {
    max-width: 182px;

}

.component_imgwide {
    max-width: 230px;
}

.image_grid-body {
    display: inline-block;
    justify-content: ;
}

.section-scroll {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #444343;
    align-items: center;
    border-top: 1px solid #444343;
    padding: 10px;
    margin-top: 10px;
}

.footer {
    align-content: center;
}

.footer_social {
    display: flex;
    list-style-type: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #444343;
    border-bottom: .5px solid #444343;
    justify-content: center;
}

.copyright_bottom {
    justify-content: center;
}
.copyright {
    display: flex;
    justify-content: center;
    font-family: 'PT Serif', serif;
    font-size: 8px;
    font-weight: lighter;
    color: #444343;
    padding-top: 15px;
}

.listitem3 {
    padding: 0px 30px 8px 0px;
    
}

.component_footer {
    justify-content: center;
    border-bottom: 1px solid #444343;
    padding-bottom: 15px;
}

a:hover {
    font-style: italic;
    font-weight: bold;
    color: #444343;
  }