<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Components | Cereal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=PT+Serif&family=Sofia+Sans+Condensed:wght@1;100&display=swap" rel="stylesheet">
        <link href="../css/normalize.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=PT+Serif&family=Sofia+Sans+Condensed:wght@1;100&display=swap');
        </style>
    </head>
    <body>
        <h1>C E R E A L [Web Components]</h1>

        <h2>Typography Defaults</h2>
        <article class="component">    
            <h3 class="component__name">image title structure</h3>
            <div class="component__image">
            <img srcset="img/main_section.png 2x" src="img/main_section.png" alt="main body section">
            </div>
            <div class="component__code-title">
            (172-07)<br>
            </div>
            <div class="component__code-body">
            The Goetheanum
            </div>        
        </article>

        <h2>h2 | Section heading</h2>
        <article class="component">    
            <h3 class="component__name">section title</h3>
            <div class="component__image">
            <img srcset="img/main_section_header.png 2x" src="img/main_section.png" alt="main body section">
            </div>
            <div class="component__code-title">
            126 Results for: design<br>
            </div>
            <div class="component__code-title">
            [Clear Search]
            </div>        
        </article>

        <h2>nav bar</h2>
        <article class="component">    
            <h3 class="component__name">top nav</h3>
            <div class="component__image">
            <img srcset="img/mainnav.png 2x" src="img/mainnav.png" alt="main nav">
            </div>
            <h1>C E R E A L</h1>
            <nav class="nav-main">
                <ul class="navbar_left">
                    <li class="listitem1">Search</li>
                    <li class="listitem2">Information</li>
                </ul>
          <!---<div class="nav_right"> ---> 
            <section class="nav-section">
                <ul class="navbar_right">
                    <li class="subnav_right">Categories</li>
                        <li class="sublist">Art</li>
                        <li class="sublist">Design</li>
                        <li class="sublist">Style</li>
                        <li class="sublist">Travel</li>
                        <li class="sublist">Misc</li>
                </ul>
                <ul class="navbar_right">
                    <li class="subnav_right">Search Terms</li>
                        <li class="sublist">Exhibition</li>
                        <li class="sublist">Architecture</li>
                        <li class="sublist">Studio</li>
                        <li class="sublist">Fashion</li>
                        <li class="sublist">Landscape</li>
                        <li class="sublist">Interview</li>
                </ul>
                <ul class="navbar_right">
                    <li class="subnav_right">Year</li>
                        <li class="sublist">2023</li>
                        <li class="sublist">2022</li>
                        <li class="sublist">2021</li>
                        <li class="sublist">2020</li>
                        <li class="sublist">2019</li>
                        <li class="sublist">2018</li>
                        <li class="sublist">2017</li>
                        <li class="sublist">2016</li>
                        <li class="sublist">[...]</li>
                </ul>
            </section>
            </nav>  
        </article>

        <h2>photo grid detail</h2>
        <article class="component">    
            <h3 class="component__name">grid detail</h3>
            <div class="component__image">
            <img srcset="img/gridsizes_1.png 2x" src="img/gridsizes_1.png" alt="image detail">
            </div>

            <div class="image_grid">
                <div class="component_imgtall">
                    <img src="img/tallimage.jpg" alt="photo series">
                    <div class="component__code-title">
                    (127-07)<br>
                    </div>
                    <div class="component__codedes">
                    Centre Court
                    </div> 
                </div>
                <div class="component_imgwide">
                    <img src="img/wideimage.jpg"  alt="photo series">
                    <div class="component__code-title">
                        (181-06)<br>
                        </div>
                        <div class="component__codedes">
                        The Art of Elsewhere
                        </div>  
                </div>  
            </div>
        </article>

        <h2>photo grid</h2>
        <article class="component">    
            <h3 class="component__name">grid</h3>
            <div class="component__image">
            <img srcset="img/photogrid.png 2x" src="img/photogrid.png" alt="body section">
            </div>

            <div class="image_grid-body">
                <div class="component_imgtall">
                    <img src="img/image1.jpg" alt="photo series">
                    <div class="component__code-title">
                    (173-11)<br>
                    </div>
                    <div class="component__codedes">
                    The Muse
                    </div>    
                </div>
            </div>
            <div class="image_grid-body">
                <div class="component_imgtall">
                    <img src="img/image2.jpg" alt="photo series">
                    <div class="component__code-title">
                    (050-05)<br>
                    </div>
                    <div class="component__codedes">
                    Permanent Collection
                    </div>    
                </div>
            </div>
            <div class="image_grid-body">
                <div class="component_imgtall">
                    <img src="img/image3.jpg" alt="photo series">
                    <div class="component__code-title">
                    (141-16)<br>
                    </div>
                    <div class="component__codedes">
                    Quietude in Marrakech
                    </div>
                </div> 
            </div>
            <div class="image_grid-body">
                <div class="component_imgtall">
                    <img src="img/image4.jpg" alt="photo series">
                    <div class="component__code-title">
                    (057-20)<br>
                    </div>
                    <div class="component__codedes">
                    Cystal Bridges
                    </div>
                </div>
            </div>
            <div class="image_grid-body">
                <div class="component_imgtall">
                    <img src="img/image5.jpg" alt="photo series">
                    <div class="component__code-title">
                    (157-05)<br>
                    </div>
                    <div class="component__codedes">
                    Albion Fields
                    </div> 
                </div>      
            </div>  
            <div class="image_grid-body">
                <div class="component_imgtall">
                    <img src="img/image6.jpg" alt="photo series">
                    <div class="component__code-title">
                    (148-05)<br>
                    </div>
                    <div class="component__codedes">
                   Logically, Frankly
                    </div> 
                </div>
            </div>    
            <div class="image_grid-body">
                <div class="component_imgtall">
                    <img src="img/image7.jpg" alt="photo series">
                    <div class="component__code-title">
                    (141-19)<br>
                    </div>
                    <div class="component__codedes">
                    Quietude in Marrakech
                    </div>
                </div>  
            </div>
            <div class="image_grid-body">
                <div class="component_imgtall">
                    <img src="img/image8.jpg" alt="photo series">
                    <div class="component__code-title">
                    (062-06)<br>
                    </div>
                    <div class="component__codedes">
                    Capturing Silence
                    </div>  
                </div> 
            </div> 
            <div class="image_grid-body">
                <div class="component_imgtall">
                    <img src="img/image9.jpg" alt="photo series">
                    <div class="component__code-title">
                    (146-05)<br>
                    </div>
                    <div class="component__codedes">
                    Moorland
                    </div> 
                </div>
            </div>
            <div class="image_grid-body">
                <div class="component_imgtall">
                    <img src="img/image10.jpg" alt="photo series">
                    <div class="component__code-title">
                    (163-03)<br>
                    </div>
                    <div class="component__codedes">
                    Great Dixter
                    </div>    
                </div>
            </div>
            <div class="image_grid-body">
                <div class="component_imgwide">
                    <img src="img/image11.jpg"  alt="photo series">
                    <div class="component__code-title">
                    (170-07)<br>
                    </div>
                    <div class="component__codedes">
                    Stone House
                    </div>  
                </div>  
            </div>
            <div class="image_grid-body">
                <div class="component_imgtall">
                    <img src="img/image12.jpg" alt="photo series">
                    <div class="component__code-title">
                    (003-10)<br>
                    </div>
                    <div class="component__codedes">
                    Benesse Art Site
                    </div>    
                </div>
            </div>
            <div class="section-scroll">
                [Load More]
            </div>
        </article>
        <h2>footer</h2>
        <article class="component_footer">    
            <h3 class="component__name">footer</h3>
            <div class="component__image">
            <img srcset="img/main_footer.png 2x" src="img/main_footer.png" alt="body section">
            </div>
            <div class="footer">
                    <ul class="footer_social">
                        <li class="listitem3">Instagram</li>
                        <li class="listitem3">Newsletter Signup</li>
                        <li class="listitem3">Submit</li>
                    </ul>
            </div>
            <div class="copyright_bottom">
            <p class="copyright">All photos on this website are copyrighted and are the property of Cereal and/or the photographer. These photos may not be used for commercial purposes without the express written<br>
                permission of the copyright owner. Please contact us at hello@readcereal.com to request permission to use any of the photos on this website.</p>   
                
                <p class="copyright">© Cereal 2023 Site by Studio Faculty</p> 
            </div>       
        </article>    

    </body>
</html>