<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Components | Cereal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=PT+Serif&family=Sofia+Sans+Condensed:wght@1;100&display=swap" rel="stylesheet">
        <link href="../css/normalize.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=PT+Serif&family=Sofia+Sans+Condensed:wght@1;100&display=swap');
        </style>

    </head>
    <body>
        <h1>C E R E A L [Web Components]</h1>

        <h2>Typography Defaults</h2>
        <article class="component">    
            <h3 class="component__name">image title structure</h3>
            <div class="component__image">
            <img srcset="img/main_section.png 2x" src="img/main_section.png" alt="main body section"/>
            </div>
            <div class="component__code-title">
            (172-07)<br>
            </div>
            <div class="component__code-body">
            The Goetheanum
            </div>        
        </article>

        <h2>h2 | Section heading</h2>
        <article class="component">    
            <h3 class="component__name">section title</h3>
            <div class="component__image">
            <img srcset="img/main_section_header.png 2x" src="img/main_section.png" alt="main body section"/>
            </div>
            <div class="component__code-title">
            126 Results for: design<br>
            </div>
            <div class="component__code-title">
            [Clear Search]
            </div>        
        </article>

        <h2>nav bar</h2>
        <article class="component">    
            <h3 class="component__name">top nav<h3>
            <div class="component__image">
            <img srcset="img/mainnav.png 2x" src="img/mainnav.png" alt="main nav"/>
            </div>
            <h4>C E R E A L</h4>
            <div class="nav_left">
                <ul class="navbar_left">
                    <li class="listitem1">Search</li>
                    <li class="listitem2">Information</li>
                </ul>
            </div>
            <div class="nav_right">
                <ul class="navbar_right">
                    <li class="listitem1">Categories</li>
                        <ul class="subnav_right">
                            <li>Art</li>
                            <li>Design</li>
                            <li>Style</li>
                            <li>Travel</li>
                            <li>Misc</li>
                        </ul>
                    <li class="listitem1">Search Terms</li>
                        <ul class="subnav_right">
                            <li>Exhibition</li>
                            <li>Architecture</li>
                            <li>Studio</li>
                            <li>Fashion</li>
                            <li>Landscape</li>
                            <li>Interview</li>
                        </ul>
                    <li class="listitem1">Year</li>
                    <ul class="subnav_right">
                            <li>2023</li>
                            <li>2022</li>
                            <li>2021</li>
                            <li>2020</li>
                            <li>2019</li>
                            <li>2018</li>
                            <li>2017</li>
                            <li>2016</li>
                            <li>[...]</li>
                        </ul>
                </ul>
            </div>        
        </article>

        <h2>photo grid detail</h2>
        <article class="component">    
            <h3 class="component__name">image</h3>
            <div class="component__image">
            <img srcset="img/gridsizes_1.png 2x" src="img/gridsizes_1.png" alt="body section"/>
            </div>
            <div class="component__code-title">
            126 Results for: design<br>
            </div>
            <div class="component__code-title">
            [Clear Search]
            </div>        
        </article>

    </body>
</html>